In [63]:
import pandas as pd

In [64]:
#Function to skil comments
def skip_comments(file):
    for line in file:
        if not line.strip().startswith('#'):
            yield line

In [65]:
#Program to load file data into dataframe
data = []
f = open("/Users/rujutadawhkar/Downloads/co2_alaska.txt", "r")
for line in skip_comments(f):
    import re
    t = re.split(r'[;,\s]\s*', line)
    data.append(t)
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,BRW,1973,1,1,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
1,BRW,1973,1,2,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
2,BRW,1973,1,3,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
3,BRW,1973,1,4,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
4,BRW,1973,1,5,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
5,BRW,1973,1,6,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
6,BRW,1973,1,7,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
7,BRW,1973,1,8,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
8,BRW,1973,1,9,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
9,BRW,1973,1,10,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
10,BRW,1973,1,11,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
11,BRW,1973,1,12,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
12,BRW,1973,1,13,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
13,BRW,1973,1,14,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
14,BRW,1973,1,15,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
15,BRW,1973,1,16,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
16,BRW,1973,1,17,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
17,BRW,1973,1,18,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
18,BRW,1973,1,19,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
19,BRW,1973,1,20,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
20,BRW,1973,1,21,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
21,BRW,1973,1,22,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
22,BRW,1973,1,23,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
23,BRW,1973,1,24,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
24,BRW,1973,1,25,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
25,BRW,1973,1,26,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
26,BRW,1973,1,27,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
27,BRW,1973,1,28,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
28,BRW,1973,1,29,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
29,BRW,1973,1,30,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.0,11.0,16.0,NA,*..,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,BRW,2016,12,2,0,0,0,408.27,0.5,19,71.323,-156.611,27.46,11.0,16.46,NA,...,
16042,BRW,2016,12,3,0,0,0,407.96,0.68,11,71.323,-156.611,27.46,11.0,16.46,NA,...,
16043,BRW,2016,12,4,0,0,0,408.56,0.83,7,71.323,-156.611,27.46,11.0,16.46,NA,...,
16044,BRW,2016,12,5,0,0,0,410.22,0.24,14,71.323,-156.611,27.46,11.0,16.46,NA,...,
16045,BRW,2016,12,6,0,0,0,408.43,0.15,11,71.323,-156.611,27.46,11.0,16.46,NA,...,
16046,BRW,2016,12,7,0,0,0,408.69,0.15,21,71.323,-156.611,27.46,11.0,16.46,NA,...,
16047,BRW,2016,12,8,0,0,0,412.14,1.54,14,71.323,-156.611,27.46,11.0,16.46,NA,...,
16048,BRW,2016,12,9,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.46,11.0,16.46,NA,*..,
16049,BRW,2016,12,10,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.46,11.0,16.46,NA,*..,
16050,BRW,2016,12,11,0,0,0,408.3,0.4,8,71.323,-156.611,27.46,11.0,16.46,NA,...,
16051,BRW,2016,12,12,0,0,0,408.42,0.21,8,71.323,-156.611,27.46,11.0,16.46,NA,...,
16052,BRW,2016,12,13,0,0,0,409.53,1.86,13,71.323,-156.611,27.46,11.0,16.46,NA,...,
16053,BRW,2016,12,14,0,0,0,412.38,0.22,14,71.323,-156.611,27.46,11.0,16.46,NA,...,
16054,BRW,2016,12,15,0,0,0,-999.99,-99.99,0,71.323,-156.611,27.46,11.0,16.46,NA,*..,
16055,BRW,2016,12,16,0,0,0,410.86,0.41,11,71.323,-156.611,27.46,11.0,16.46,NA,...,
16056,BRW,2016,12,17,0,0,0,409.94,0.0,1,71.323,-156.611,27.46,11.0,16.46,NA,...,
16057,BRW,2016,12,18,0,0,0,411.72,0.25,17,71.323,-156.611,27.46,11.0,16.46,NA,...,
16058,BRW,2016,12,19,0,0,0,411.37,0.21,8,71.323,-156.611,27.46,11.0,16.46,NA,...,
16059,BRW,2016,12,20,0,0,0,411.47,0.2,15,71.323,-156.611,27.46,11.0,16.46,NA,...,
16060,BRW,2016,12,21,0,0,0,411.33,0.24,14,71.323,-156.611,27.46,11.0,16.46,NA,...,
16061,BRW,2016,12,22,0,0,0,411.01,0.32,15,71.323,-156.611,27.46,11.0,16.46,NA,...,
16062,BRW,2016,12,23,0,0,0,410.68,0.46,12,71.323,-156.611,27.46,11.0,16.46,NA,...,
16063,BRW,2016,12,24,0,0,0,411.32,0.28,16,71.323,-156.611,27.46,11.0,16.46,NA,...,
16064,BRW,2016,12,25,0,0,0,411.88,0.6,16,71.323,-156.611,27.46,11.0,16.46,NA,...,
16065,BRW,2016,12,26,0,0,0,410.89,0.21,23,71.323,-156.611,27.46,11.0,16.46,NA,...,
16066,BRW,2016,12,27,0,0,0,411.06,0.15,18,71.323,-156.611,27.46,11.0,16.46,NA,...,
16067,BRW,2016,12,28,0,0,0,410.88,0.13,10,71.323,-156.611,27.46,11.0,16.46,NA,...,
16068,BRW,2016,12,29,0,0,0,412.46,0.14,11,71.323,-156.611,27.46,11.0,16.46,NA,...,
16069,BRW,2016,12,30,0,0,0,410.78,0.17,17,71.323,-156.611,27.46,11.0,16.46,NA,...,
16070,BRW,2016,12,31,0,0,0,410.72,0.25,23,71.323,-156.611,27.46,11.0,16.46,NA,...,

In [66]:
# For 2nd file
data2 = []
f1 = open("/Users/rujutadawhkar/Downloads/co2_hawaii.txt", "r")
for line in skip_comments(f1):
    import re
    t1 = re.split(r'[;,\s]\s*', line)
    data2.append(t1)
df1 = pd.DataFrame(data2)
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,MLO,1973,1,1,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
1,MLO,1973,1,2,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
2,MLO,1973,1,3,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
3,MLO,1973,1,4,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
4,MLO,1973,1,5,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
5,MLO,1973,1,6,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
6,MLO,1973,1,7,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
7,MLO,1973,1,8,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
8,MLO,1973,1,9,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
9,MLO,1973,1,10,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
10,MLO,1973,1,11,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
11,MLO,1973,1,12,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
12,MLO,1973,1,13,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
13,MLO,1973,1,14,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
14,MLO,1973,1,15,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
15,MLO,1973,1,16,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
16,MLO,1973,1,17,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
17,MLO,1973,1,18,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
18,MLO,1973,1,19,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
19,MLO,1973,1,20,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
20,MLO,1973,1,21,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
21,MLO,1973,1,22,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
22,MLO,1973,1,23,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
23,MLO,1973,1,24,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
24,MLO,1973,1,25,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
25,MLO,1973,1,26,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
26,MLO,1973,1,27,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
27,MLO,1973,1,28,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
28,MLO,1973,1,29,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
29,MLO,1973,1,30,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,MLO,2016,12,2,0,0,0,404.32,0.18,4,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16042,MLO,2016,12,3,0,0,0,404.42,0.08,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16043,MLO,2016,12,4,0,0,0,404.36,0.16,11,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16044,MLO,2016,12,5,0,0,0,403.62,0.12,5,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16045,MLO,2016,12,6,0,0,0,403.65,0.08,6,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16046,MLO,2016,12,7,0,0,0,403.36,0.09,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16047,MLO,2016,12,8,0,0,0,404.02,0.07,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16048,MLO,2016,12,9,0,0,0,403.99,0.1,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16049,MLO,2016,12,10,0,0,0,404.12,0.16,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16050,MLO,2016,12,11,0,0,0,404.36,0.06,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16051,MLO,2016,12,12,0,0,0,404.44,0.07,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16052,MLO,2016,12,13,0,0,0,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,NA,*..,
16053,MLO,2016,12,14,0,0,0,404.38,0.12,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16054,MLO,2016,12,15,0,0,0,405.45,0.46,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16055,MLO,2016,12,16,0,0,0,404.91,0.13,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16056,MLO,2016,12,17,0,0,0,405.39,0.29,8,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16057,MLO,2016,12,18,0,0,0,404.42,0.14,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16058,MLO,2016,12,19,0,0,0,403.81,0.2,3,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16059,MLO,2016,12,20,0,0,0,404.13,0.3,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16060,MLO,2016,12,21,0,0,0,404.48,0.16,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16061,MLO,2016,12,22,0,0,0,404.65,0.14,3,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16062,MLO,2016,12,23,0,0,0,404.89,0.24,11,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16063,MLO,2016,12,24,0,0,0,404.5,0.07,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16064,MLO,2016,12,25,0,0,0,404.57,0.04,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16065,MLO,2016,12,26,0,0,0,404.44,0.11,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16066,MLO,2016,12,27,0,0,0,404.42,0.09,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16067,MLO,2016,12,28,0,0,0,404.48,0.14,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16068,MLO,2016,12,29,0,0,0,405.3,0.12,5,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16069,MLO,2016,12,30,0,0,0,404.92,0.12,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16070,MLO,2016,12,31,0,0,0,405.08,0.09,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,

In [67]:
#check datatype of frame
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
dtype: object

In [68]:
#converting datatype of 7th column (Value) to float
df[7] = df[7].astype(float)
df1[7] = df1[7].astype(float)

In [69]:
#filter valid data such that it had "..." value in 16th (qc flag) column 
filterflag = df[df[16] == "..."]
filterflag1 = df1[df1[16] == "..."]

In [70]:
filterflag1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
501,MLO,1974,5,17,0,0,0,333.38,0.07,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
502,MLO,1974,5,18,0,0,0,333.11,0.3,9,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
503,MLO,1974,5,19,0,0,0,333.46,0.09,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
504,MLO,1974,5,20,0,0,0,333.64,0.29,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
505,MLO,1974,5,21,0,0,0,333.41,0.24,6,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
506,MLO,1974,5,22,0,0,0,333.21,0.13,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
507,MLO,1974,5,23,0,0,0,333.05,0.07,6,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
508,MLO,1974,5,24,0,0,0,333.28,0.29,4,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
510,MLO,1974,5,26,0,0,0,333.32,0.13,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
511,MLO,1974,5,27,0,0,0,332.79,0.08,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
512,MLO,1974,5,28,0,0,0,332.43,0.11,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
513,MLO,1974,5,29,0,0,0,332.60,0.17,9,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
514,MLO,1974,5,30,0,0,0,333.30,0.13,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
515,MLO,1974,5,31,0,0,0,333.25,0.17,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
519,MLO,1974,6,4,0,0,0,333.03,0.19,7,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
520,MLO,1974,6,5,0,0,0,332.64,0.09,7,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
521,MLO,1974,6,6,0,0,0,331.83,0.06,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
522,MLO,1974,6,7,0,0,0,332.09,0.16,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
523,MLO,1974,6,8,0,0,0,332.00,0.08,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
524,MLO,1974,6,9,0,0,0,332.36,0.09,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
525,MLO,1974,6,10,0,0,0,332.20,0.09,5,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
526,MLO,1974,6,11,0,0,0,332.18,0.14,8,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
527,MLO,1974,6,12,0,0,0,332.03,0.12,11,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
528,MLO,1974,6,13,0,0,0,331.85,0.16,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
529,MLO,1974,6,14,0,0,0,332.63,0.14,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
530,MLO,1974,6,15,0,0,0,332.02,0.22,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
531,MLO,1974,6,16,0,0,0,332.10,0.11,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
532,MLO,1974,6,17,0,0,0,332.18,0.09,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
533,MLO,1974,6,18,0,0,0,332.74,0.11,4,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
534,MLO,1974,6,19,0,0,0,332.33,0.41,9,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16038,MLO,2016,11,29,0,0,0,403.84,0.06,8,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16041,MLO,2016,12,2,0,0,0,404.32,0.18,4,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16042,MLO,2016,12,3,0,0,0,404.42,0.08,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16043,MLO,2016,12,4,0,0,0,404.36,0.16,11,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16044,MLO,2016,12,5,0,0,0,403.62,0.12,5,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16045,MLO,2016,12,6,0,0,0,403.65,0.08,6,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16046,MLO,2016,12,7,0,0,0,403.36,0.09,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16047,MLO,2016,12,8,0,0,0,404.02,0.07,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16048,MLO,2016,12,9,0,0,0,403.99,0.1,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16049,MLO,2016,12,10,0,0,0,404.12,0.16,14,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16050,MLO,2016,12,11,0,0,0,404.36,0.06,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16051,MLO,2016,12,12,0,0,0,404.44,0.07,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16053,MLO,2016,12,14,0,0,0,404.38,0.12,12,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16054,MLO,2016,12,15,0,0,0,405.45,0.46,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16055,MLO,2016,12,16,0,0,0,404.91,0.13,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16056,MLO,2016,12,17,0,0,0,405.39,0.29,8,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16057,MLO,2016,12,18,0,0,0,404.42,0.14,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16058,MLO,2016,12,19,0,0,0,403.81,0.2,3,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16059,MLO,2016,12,20,0,0,0,404.13,0.3,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16060,MLO,2016,12,21,0,0,0,404.48,0.16,13,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16061,MLO,2016,12,22,0,0,0,404.65,0.14,3,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16062,MLO,2016,12,23,0,0,0,404.89,0.24,11,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16063,MLO,2016,12,24,0,0,0,404.50,0.07,10,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16064,MLO,2016,12,25,0,0,0,404.57,0.04,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16065,MLO,2016,12,26,0,0,0,404.44,0.11,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16066,MLO,2016,12,27,0,0,0,404.42,0.09,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16067,MLO,2016,12,28,0,0,0,404.48,0.14,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16068,MLO,2016,12,29,0,0,0,405.30,0.12,5,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16069,MLO,2016,12,30,0,0,0,404.92,0.12,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,
16070,MLO,2016,12,31,0,0,0,405.08,0.09,15,19.536,-155.576,3437.0,3397.0,40.0,NA,...,

In [71]:
#Find max value of data year wise in hawaii and alaska
max1_alaska = filterflag.groupby([1], sort=False)[7].max()
max_hawaii = filterflag1.groupby([1], sort=False)[7].max()

In [72]:
# Convert max data year wise into dataframe
max2_alaska = max1_alaska.add_suffix('').reset_index()
max2_alaska = max2_alaska.rename(columns={1: 'Year'})
max2_alaska = max2_alaska.rename(columns={7: 'Maximum Value'})
max2_alaska

    Year  Maximum Value
0   1973         339.78
1   1974         340.21
2   1975         343.09
3   1976         338.84
4   1977         342.00
5   1978         343.36
6   1979         344.21
7   1980         347.27
8   1981         348.65
9   1982         351.49
10  1983         353.00
11  1984         353.37
12  1985         354.95
13  1986         355.85
14  1987         356.13
15  1988         360.54
16  1989         364.24
17  1990         363.51
18  1991         370.37
19  1992         365.16
20  1993         364.73
21  1994         369.61
22  1995         372.87
23  1996         371.10
24  1997         372.72
25  1998         376.40
26  1999         376.55
27  2000         379.14
28  2001         379.53
29  2002         381.25
30  2003         387.12
31  2004         385.72
32  2005         388.57
33  2006         390.53
34  2007         392.34
35  2008         396.01
36  2009         396.47
37  2010         399.17
38  2011         403.81
39  2012         403.20
40  2013         408.07
41  2014         409.08
42  2015         409.99
43  2016         412.46

In [73]:
# Convert max data year wise into dataframe
max_hawaii1 = max_hawaii.add_suffix('').reset_index()
max_hawaii1 = max_hawaii1.rename(columns={1: 'Year'})
max_hawaii1 = max_hawaii1.rename(columns={7: 'Maximum Value'})
max_hawaii1

    Year  Maximum Value
0   1974         333.64
1   1975         334.63
2   1976         336.73
3   1977         337.64
4   1978         338.87
5   1979         340.24
6   1980         342.38
7   1981         343.42
8   1982         345.12
9   1983         346.49
10  1984         348.33
11  1985         349.92
12  1986         351.14
13  1987         352.65
14  1988         354.92
15  1989         356.72
16  1990         358.10
17  1991         360.46
18  1992         360.63
19  1993         361.14
20  1994         362.74
21  1995         365.04
22  1996         366.00
23  1997         368.02
24  1998         370.63
25  1999         372.23
26  2000         373.34
27  2001         375.36
28  2002         376.58
29  2003         380.17
30  2004         381.58
31  2005         383.79
32  2006         385.68
33  2007         387.83
34  2008         390.63
35  2009         391.32
36  2010         394.02
37  2011         395.83
38  2012         397.78
39  2013         400.63
40  2014         402.71
41  2015         404.65
42  2016         409.34

In [74]:
# Filter min value data year wise
mean1_alaska = filterflag[7].groupby([df[1]]).mean()
mean1_alaska
mean_hawaii = filterflag1[7].groupby([df1[1]]).mean()
mean_hawaii

1
1974    329.554485
1975    331.389764
1976    332.070338
1977    333.845370
1978    335.431530
1979    336.692434
1980    338.827263
1981    340.088693
1982    341.322446
1983    343.176165
1984    344.741566
1985    346.072320
1986    347.303320
1987    349.270480
1988    351.578371
1989    353.202803
1990    354.469172
1991    355.674162
1992    356.433100
1993    357.159637
1994    358.907264
1995    360.859015
1996    362.665160
1997    363.713811
1998    366.703244
1999    368.312562
2000    369.578847
2001    371.073477
2002    373.291018
2003    375.829939
2004    377.657614
2005    379.964000
2006    381.885591
2007    383.859305
2008    385.516445
2009    387.422310
2010    389.835623
2011    391.655592
2012    393.874766
2013    396.466770
2014    398.711471
2015    400.865963
2016    404.253261
Name: 7, dtype: float64

In [75]:
# Convert mean data year wise into dataframe
mean2_alaska = mean1_alaska.add_suffix('').reset_index()
mean2_alaska = mean2_alaska.rename(columns={1: 'Year'})
mean2_alaska = mean2_alaska.rename(columns={7: 'Mean Value'})
mean2_alaska

    Year  Mean Value
0   1973  329.222887
1   1974  333.783966
2   1975  333.620252
3   1976  332.974505
4   1977  334.950843
5   1978  337.199969
6   1979  338.355902
7   1980  340.423203
8   1981  341.960751
9   1982  343.075759
10  1983  344.218029
11  1984  346.406883
12  1985  347.113176
13  1986  349.128920
14  1987  350.129940
15  1988  353.470683
16  1989  355.250667
17  1990  356.041015
18  1991  357.887809
19  1992  357.869050
20  1993  357.529807
21  1994  360.400088
22  1995  362.454669
23  1996  364.302135
24  1997  365.247553
25  1998  368.040934
26  1999  369.751304
27  2000  371.219356
28  2001  372.990119
29  2002  374.539341
30  2003  377.903593
31  2004  378.680460
32  2005  381.399233
33  2006  383.625667
34  2007  385.288559
35  2008  388.115063
36  2009  388.498494
37  2010  391.208592
38  2011  393.281698
39  2012  395.551572
40  2013  398.311758
41  2014  399.832870
42  2015  401.908764
43  2016  404.940813

In [76]:
# Convert max data year wise into dataframe
mean_hawaii1 = mean_hawaii.add_suffix('').reset_index()
mean_hawaii1 = mean_hawaii1.rename(columns={1: 'Year'})
mean_hawaii1 = mean_hawaii1.rename(columns={7: 'Mean Value'})
mean_hawaii1

    Year  Mean Value
0   1974  329.554485
1   1975  331.389764
2   1976  332.070338
3   1977  333.845370
4   1978  335.431530
5   1979  336.692434
6   1980  338.827263
7   1981  340.088693
8   1982  341.322446
9   1983  343.176165
10  1984  344.741566
11  1985  346.072320
12  1986  347.303320
13  1987  349.270480
14  1988  351.578371
15  1989  353.202803
16  1990  354.469172
17  1991  355.674162
18  1992  356.433100
19  1993  357.159637
20  1994  358.907264
21  1995  360.859015
22  1996  362.665160
23  1997  363.713811
24  1998  366.703244
25  1999  368.312562
26  2000  369.578847
27  2001  371.073477
28  2002  373.291018
29  2003  375.829939
30  2004  377.657614
31  2005  379.964000
32  2006  381.885591
33  2007  383.859305
34  2008  385.516445
35  2009  387.422310
36  2010  389.835623
37  2011  391.655592
38  2012  393.874766
39  2013  396.466770
40  2014  398.711471
41  2015  400.865963
42  2016  404.253261

In [77]:
# Merge dataframe with MAx and Min data yearwise
final_alaska = pd.merge(max2_alaska,mean2_alaska, on='Year')
final_alaska

    Year  Maximum Value  Mean Value
0   1973         339.78  329.222887
1   1974         340.21  333.783966
2   1975         343.09  333.620252
3   1976         338.84  332.974505
4   1977         342.00  334.950843
5   1978         343.36  337.199969
6   1979         344.21  338.355902
7   1980         347.27  340.423203
8   1981         348.65  341.960751
9   1982         351.49  343.075759
10  1983         353.00  344.218029
11  1984         353.37  346.406883
12  1985         354.95  347.113176
13  1986         355.85  349.128920
14  1987         356.13  350.129940
15  1988         360.54  353.470683
16  1989         364.24  355.250667
17  1990         363.51  356.041015
18  1991         370.37  357.887809
19  1992         365.16  357.869050
20  1993         364.73  357.529807
21  1994         369.61  360.400088
22  1995         372.87  362.454669
23  1996         371.10  364.302135
24  1997         372.72  365.247553
25  1998         376.40  368.040934
26  1999         376.55  369.751304
27  2000         379.14  371.219356
28  2001         379.53  372.990119
29  2002         381.25  374.539341
30  2003         387.12  377.903593
31  2004         385.72  378.680460
32  2005         388.57  381.399233
33  2006         390.53  383.625667
34  2007         392.34  385.288559
35  2008         396.01  388.115063
36  2009         396.47  388.498494
37  2010         399.17  391.208592
38  2011         403.81  393.281698
39  2012         403.20  395.551572
40  2013         408.07  398.311758
41  2014         409.08  399.832870
42  2015         409.99  401.908764
43  2016         412.46  404.940813

In [78]:
# Merge max and mean data year wise
final_hawaii = pd.merge(max_hawaii1,mean_hawaii1, on='Year')
final_hawaii

    Year  Maximum Value  Mean Value
0   1974         333.64  329.554485
1   1975         334.63  331.389764
2   1976         336.73  332.070338
3   1977         337.64  333.845370
4   1978         338.87  335.431530
5   1979         340.24  336.692434
6   1980         342.38  338.827263
7   1981         343.42  340.088693
8   1982         345.12  341.322446
9   1983         346.49  343.176165
10  1984         348.33  344.741566
11  1985         349.92  346.072320
12  1986         351.14  347.303320
13  1987         352.65  349.270480
14  1988         354.92  351.578371
15  1989         356.72  353.202803
16  1990         358.10  354.469172
17  1991         360.46  355.674162
18  1992         360.63  356.433100
19  1993         361.14  357.159637
20  1994         362.74  358.907264
21  1995         365.04  360.859015
22  1996         366.00  362.665160
23  1997         368.02  363.713811
24  1998         370.63  366.703244
25  1999         372.23  368.312562
26  2000         373.34  369.578847
27  2001         375.36  371.073477
28  2002         376.58  373.291018
29  2003         380.17  375.829939
30  2004         381.58  377.657614
31  2005         383.79  379.964000
32  2006         385.68  381.885591
33  2007         387.83  383.859305
34  2008         390.63  385.516445
35  2009         391.32  387.422310
36  2010         394.02  389.835623
37  2011         395.83  391.655592
38  2012         397.78  393.874766
39  2013         400.63  396.466770
40  2014         402.71  398.711471
41  2015         404.65  400.865963
42  2016         409.34  404.253261

In [79]:
# Drop Year column such that only Mean value is left for percentage change
mean3_alaska = mean2_alaska.drop('Year', 1)
mean3_alaska
mean_hawaii2 = mean_hawaii1.drop('Year', 1)
mean_hawaii2

    Mean Value
0   329.554485
1   331.389764
2   332.070338
3   333.845370
4   335.431530
5   336.692434
6   338.827263
7   340.088693
8   341.322446
9   343.176165
10  344.741566
11  346.072320
12  347.303320
13  349.270480
14  351.578371
15  353.202803
16  354.469172
17  355.674162
18  356.433100
19  357.159637
20  358.907264
21  360.859015
22  362.665160
23  363.713811
24  366.703244
25  368.312562
26  369.578847
27  371.073477
28  373.291018
29  375.829939
30  377.657614
31  379.964000
32  381.885591
33  383.859305
34  385.516445
35  387.422310
36  389.835623
37  391.655592
38  393.874766
39  396.466770
40  398.711471
41  400.865963
42  404.253261

In [80]:
# Convert this data frame to a list to us pct.change() function
my_list_alaska = mean3_alaska["Mean Value"].tolist()
my_list_alaska
my_list_hawaii = mean_hawaii2["Mean Value"].tolist()
my_list_hawaii

[329.5544845360826,
 331.3897637795275,
 332.0703375527426,
 333.8453696498056,
 335.4315298507461,
 336.6924344569286,
 338.8272627737226,
 340.0886928104577,
 341.32244604316554,
 343.1761654135338,
 344.7415656565655,
 346.0723199999999,
 347.3033199999998,
 349.27047970479714,
 351.57837060702894,
 353.2028025477708,
 354.4691717791412,
 355.67416167664663,
 356.43310030395105,
 357.1596374622357,
 358.90726443769,
 360.8590149253733,
 362.6651603498541,
 363.7138109756098,
 366.7032440476189,
 368.3125624999998,
 369.5788473520249,
 371.0734769230771,
 373.2910179640715,
 375.8299388379205,
 377.6576143790852,
 379.96399999999994,
 381.8855910543131,
 383.85930463576165,
 385.51644518272417,
 387.42231003039507,
 389.83562310030396,
 391.65559171597624,
 393.8747660818713,
 396.46677018633557,
 398.7114705882352,
 400.8659633027522,
 404.2532608695651]

In [81]:
# Find percent mean chanage using pct.change function
alaska_list = pd.Series(my_list_alaska)
Percent_Change_alaska = alaska_list.pct_change()
Percent_Change_alaska
hawaii_list = pd.Series(my_list_hawaii)
Percent_Change_hawaii = hawaii_list.pct_change()
Percent_Change_hawaii

0          NaN
1     0.005569
2     0.002054
3     0.005345
4     0.004751
5     0.003759
6     0.006341
7     0.003723
8     0.003628
9     0.005431
10    0.004562
11    0.003860
12    0.003557
13    0.005664
14    0.006608
15    0.004620
16    0.003585
17    0.003399
18    0.002134
19    0.002038
20    0.004893
21    0.005438
22    0.005005
23    0.002892
24    0.008219
25    0.004389
26    0.003438
27    0.004044
28    0.005976
29    0.006801
30    0.004863
31    0.006107
32    0.005057
33    0.005168
34    0.004317
35    0.004944
36    0.006229
37    0.004669
38    0.005666
39    0.006581
40    0.005662
41    0.005404
42    0.008450
dtype: float64

In [82]:
# Convert it to data frame
Percent_alaska = pd.DataFrame({'PercentChange':Percent_Change_alaska})
Percent_alaska
Percent_hawaii = pd.DataFrame({'PercentChange':Percent_Change_hawaii})
Percent_hawaii

    PercentChange
0             NaN
1        0.005569
2        0.002054
3        0.005345
4        0.004751
5        0.003759
6        0.006341
7        0.003723
8        0.003628
9        0.005431
10       0.004562
11       0.003860
12       0.003557
13       0.005664
14       0.006608
15       0.004620
16       0.003585
17       0.003399
18       0.002134
19       0.002038
20       0.004893
21       0.005438
22       0.005005
23       0.002892
24       0.008219
25       0.004389
26       0.003438
27       0.004044
28       0.005976
29       0.006801
30       0.004863
31       0.006107
32       0.005057
33       0.005168
34       0.004317
35       0.004944
36       0.006229
37       0.004669
38       0.005666
39       0.006581
40       0.005662
41       0.005404
42       0.008450

In [83]:
# Concatenate all dataframe to add PErcent Change Column
final1_alaska = pd.concat([final_alaska, Percent_alaska], axis=1)
final1_alaska['PercentChange'] = final1_alaska['PercentChange']*100
final1_alaska

    Year  Maximum Value  Mean Value  PercentChange
0   1973         339.78  329.222887            NaN
1   1974         340.21  333.783966       1.385408
2   1975         343.09  333.620252      -0.049048
3   1976         338.84  332.974505      -0.193557
4   1977         342.00  334.950843       0.593540
5   1978         343.36  337.199969       0.671480
6   1979         344.21  338.355902       0.342803
7   1980         347.27  340.423203       0.610984
8   1981         348.65  341.960751       0.451658
9   1982         351.49  343.075759       0.326063
10  1983         353.00  344.218029       0.332950
11  1984         353.37  346.406883       0.635892
12  1985         354.95  347.113176       0.203891
13  1986         355.85  349.128920       0.580716
14  1987         356.13  350.129940       0.286720
15  1988         360.54  353.470683       0.954144
16  1989         364.24  355.250667       0.503573
17  1990         363.51  356.041015       0.222476
18  1991         370.37  357.887809       0.518702
19  1992         365.16  357.869050      -0.005241
20  1993         364.73  357.529807      -0.094795
21  1994         369.61  360.400088       0.802809
22  1995         372.87  362.454669       0.570083
23  1996         371.10  364.302135       0.509710
24  1997         372.72  365.247553       0.259515
25  1998         376.40  368.040934       0.764791
26  1999         376.55  369.751304       0.464723
27  2000         379.14  371.219356       0.397038
28  2001         379.53  372.990119       0.477013
29  2002         381.25  374.539341       0.415352
30  2003         387.12  377.903593       0.898237
31  2004         385.72  378.680460       0.205573
32  2005         388.57  381.399233       0.717960
33  2006         390.53  383.625667       0.583754
34  2007         392.34  385.288559       0.433467
35  2008         396.01  388.115063       0.733607
36  2009         396.47  388.498494       0.098793
37  2010         399.17  391.208592       0.697583
38  2011         403.81  393.281698       0.529923
39  2012         403.20  395.551572       0.577163
40  2013         408.07  398.311758       0.697807
41  2014         409.08  399.832870       0.381890
42  2015         409.99  401.908764       0.519191
43  2016         412.46  404.940813       0.754412

In [84]:
# Concatenate all dataframe to add PErcent Change Column
final_hawaii1 = pd.concat([final_hawaii, Percent_hawaii], axis=1)
final_hawaii1['PercentChange'] = final_hawaii1['PercentChange']*100
final_hawaii1

    Year  Maximum Value  Mean Value  PercentChange
0   1974         333.64  329.554485            NaN
1   1975         334.63  331.389764       0.556897
2   1976         336.73  332.070338       0.205370
3   1977         337.64  333.845370       0.534535
4   1978         338.87  335.431530       0.475118
5   1979         340.24  336.692434       0.375905
6   1980         342.38  338.827263       0.634059
7   1981         343.42  340.088693       0.372293
8   1982         345.12  341.322446       0.362774
9   1983         346.49  343.176165       0.543099
10  1984         348.33  344.741566       0.456151
11  1985         349.92  346.072320       0.386015
12  1986         351.14  347.303320       0.355706
13  1987         352.65  349.270480       0.566410
14  1988         354.92  351.578371       0.660775
15  1989         356.72  353.202803       0.462040
16  1990         358.10  354.469172       0.358539
17  1991         360.46  355.674162       0.339942
18  1992         360.63  356.433100       0.213380
19  1993         361.14  357.159637       0.203835
20  1994         362.74  358.907264       0.489313
21  1995         365.04  360.859015       0.543804
22  1996         366.00  362.665160       0.500513
23  1997         368.02  363.713811       0.289151
24  1998         370.63  366.703244       0.821919
25  1999         372.23  368.312562       0.438861
26  2000         373.34  369.578847       0.343807
27  2001         375.36  371.073477       0.404414
28  2002         376.58  373.291018       0.597602
29  2003         380.17  375.829939       0.680145
30  2004         381.58  377.657614       0.486304
31  2005         383.79  379.964000       0.610708
32  2006         385.68  381.885591       0.505730
33  2007         387.83  383.859305       0.516834
34  2008         390.63  385.516445       0.431705
35  2009         391.32  387.422310       0.494367
36  2010         394.02  389.835623       0.622915
37  2011         395.83  391.655592       0.466855
38  2012         397.78  393.874766       0.566614
39  2013         400.63  396.466770       0.658078
40  2014         402.71  398.711471       0.566176
41  2015         404.65  400.865963       0.540364
42  2016         409.34  404.253261       0.844995

In [85]:
# add Respective country value column to dataframes
final1_alaska['Country'] = 'Alaska'
final1_alaska
final_hawaii1['Country'] = 'Hawaai'
final_hawaii1

    Year  Maximum Value  Mean Value  PercentChange Country
0   1974         333.64  329.554485            NaN  Hawaai
1   1975         334.63  331.389764       0.556897  Hawaai
2   1976         336.73  332.070338       0.205370  Hawaai
3   1977         337.64  333.845370       0.534535  Hawaai
4   1978         338.87  335.431530       0.475118  Hawaai
5   1979         340.24  336.692434       0.375905  Hawaai
6   1980         342.38  338.827263       0.634059  Hawaai
7   1981         343.42  340.088693       0.372293  Hawaai
8   1982         345.12  341.322446       0.362774  Hawaai
9   1983         346.49  343.176165       0.543099  Hawaai
10  1984         348.33  344.741566       0.456151  Hawaai
11  1985         349.92  346.072320       0.386015  Hawaai
12  1986         351.14  347.303320       0.355706  Hawaai
13  1987         352.65  349.270480       0.566410  Hawaai
14  1988         354.92  351.578371       0.660775  Hawaai
15  1989         356.72  353.202803       0.462040  Hawaai
16  1990         358.10  354.469172       0.358539  Hawaai
17  1991         360.46  355.674162       0.339942  Hawaai
18  1992         360.63  356.433100       0.213380  Hawaai
19  1993         361.14  357.159637       0.203835  Hawaai
20  1994         362.74  358.907264       0.489313  Hawaai
21  1995         365.04  360.859015       0.543804  Hawaai
22  1996         366.00  362.665160       0.500513  Hawaai
23  1997         368.02  363.713811       0.289151  Hawaai
24  1998         370.63  366.703244       0.821919  Hawaai
25  1999         372.23  368.312562       0.438861  Hawaai
26  2000         373.34  369.578847       0.343807  Hawaai
27  2001         375.36  371.073477       0.404414  Hawaai
28  2002         376.58  373.291018       0.597602  Hawaai
29  2003         380.17  375.829939       0.680145  Hawaai
30  2004         381.58  377.657614       0.486304  Hawaai
31  2005         383.79  379.964000       0.610708  Hawaai
32  2006         385.68  381.885591       0.505730  Hawaai
33  2007         387.83  383.859305       0.516834  Hawaai
34  2008         390.63  385.516445       0.431705  Hawaai
35  2009         391.32  387.422310       0.494367  Hawaai
36  2010         394.02  389.835623       0.622915  Hawaai
37  2011         395.83  391.655592       0.466855  Hawaai
38  2012         397.78  393.874766       0.566614  Hawaai
39  2013         400.63  396.466770       0.658078  Hawaai
40  2014         402.71  398.711471       0.566176  Hawaai
41  2015         404.65  400.865963       0.540364  Hawaai
42  2016         409.34  404.253261       0.844995  Hawaai

In [86]:
#Concatename hawaii and alaska dataframes
df_new = pd.concat([final1_alaska, final_hawaii1])
df_new

    Year  Maximum Value  Mean Value  PercentChange Country
0   1973         339.78  329.222887            NaN  Alaska
1   1974         340.21  333.783966       1.385408  Alaska
2   1975         343.09  333.620252      -0.049048  Alaska
3   1976         338.84  332.974505      -0.193557  Alaska
4   1977         342.00  334.950843       0.593540  Alaska
5   1978         343.36  337.199969       0.671480  Alaska
6   1979         344.21  338.355902       0.342803  Alaska
7   1980         347.27  340.423203       0.610984  Alaska
8   1981         348.65  341.960751       0.451658  Alaska
9   1982         351.49  343.075759       0.326063  Alaska
10  1983         353.00  344.218029       0.332950  Alaska
11  1984         353.37  346.406883       0.635892  Alaska
12  1985         354.95  347.113176       0.203891  Alaska
13  1986         355.85  349.128920       0.580716  Alaska
14  1987         356.13  350.129940       0.286720  Alaska
15  1988         360.54  353.470683       0.954144  Alaska
16  1989         364.24  355.250667       0.503573  Alaska
17  1990         363.51  356.041015       0.222476  Alaska
18  1991         370.37  357.887809       0.518702  Alaska
19  1992         365.16  357.869050      -0.005241  Alaska
20  1993         364.73  357.529807      -0.094795  Alaska
21  1994         369.61  360.400088       0.802809  Alaska
22  1995         372.87  362.454669       0.570083  Alaska
23  1996         371.10  364.302135       0.509710  Alaska
24  1997         372.72  365.247553       0.259515  Alaska
25  1998         376.40  368.040934       0.764791  Alaska
26  1999         376.55  369.751304       0.464723  Alaska
27  2000         379.14  371.219356       0.397038  Alaska
28  2001         379.53  372.990119       0.477013  Alaska
29  2002         381.25  374.539341       0.415352  Alaska
..   ...            ...         ...            ...     ...
13  1987         352.65  349.270480       0.566410  Hawaai
14  1988         354.92  351.578371       0.660775  Hawaai
15  1989         356.72  353.202803       0.462040  Hawaai
16  1990         358.10  354.469172       0.358539  Hawaai
17  1991         360.46  355.674162       0.339942  Hawaai
18  1992         360.63  356.433100       0.213380  Hawaai
19  1993         361.14  357.159637       0.203835  Hawaai
20  1994         362.74  358.907264       0.489313  Hawaai
21  1995         365.04  360.859015       0.543804  Hawaai
22  1996         366.00  362.665160       0.500513  Hawaai
23  1997         368.02  363.713811       0.289151  Hawaai
24  1998         370.63  366.703244       0.821919  Hawaai
25  1999         372.23  368.312562       0.438861  Hawaai
26  2000         373.34  369.578847       0.343807  Hawaai
27  2001         375.36  371.073477       0.404414  Hawaai
28  2002         376.58  373.291018       0.597602  Hawaai
29  2003         380.17  375.829939       0.680145  Hawaai
30  2004         381.58  377.657614       0.486304  Hawaai
31  2005         383.79  379.964000       0.610708  Hawaai
32  2006         385.68  381.885591       0.505730  Hawaai
33  2007         387.83  383.859305       0.516834  Hawaai
34  2008         390.63  385.516445       0.431705  Hawaai
35  2009         391.32  387.422310       0.494367  Hawaai
36  2010         394.02  389.835623       0.622915  Hawaai
37  2011         395.83  391.655592       0.466855  Hawaai
38  2012         397.78  393.874766       0.566614  Hawaai
39  2013         400.63  396.466770       0.658078  Hawaai
40  2014         402.71  398.711471       0.566176  Hawaai
41  2015         404.65  400.865963       0.540364  Hawaai
42  2016         409.34  404.253261       0.844995  Hawaai

[87 rows x 5 columns]

In [87]:
# Create a pivot table and round decimal to 2 places
d2 = df_new.pivot_table(index=['Year'],columns='Country', values=('Maximum Value','Mean Value','PercentChange'),fill_value=0)
d3 = d2.round(2)
d3

        Maximum Value         Mean Value         PercentChange
Country        Alaska  Hawaai     Alaska  Hawaai        Alaska Hawaai
Year
1973           339.78    0.00     329.22    0.00          0.00   0.00
1974           340.21  333.64     333.78  329.55          1.39   0.00
1975           343.09  334.63     333.62  331.39         -0.05   0.56
1976           338.84  336.73     332.97  332.07         -0.19   0.21
1977           342.00  337.64     334.95  333.85          0.59   0.53
1978           343.36  338.87     337.20  335.43          0.67   0.48
1979           344.21  340.24     338.36  336.69          0.34   0.38
1980           347.27  342.38     340.42  338.83          0.61   0.63
1981           348.65  343.42     341.96  340.09          0.45   0.37
1982           351.49  345.12     343.08  341.32          0.33   0.36
1983           353.00  346.49     344.22  343.18          0.33   0.54
1984           353.37  348.33     346.41  344.74          0.64   0.46
1985           354.95  349.92     347.11  346.07          0.20   0.39
1986           355.85  351.14     349.13  347.30          0.58   0.36
1987           356.13  352.65     350.13  349.27          0.29   0.57
1988           360.54  354.92     353.47  351.58          0.95   0.66
1989           364.24  356.72     355.25  353.20          0.50   0.46
1990           363.51  358.10     356.04  354.47          0.22   0.36
1991           370.37  360.46     357.89  355.67          0.52   0.34
1992           365.16  360.63     357.87  356.43         -0.01   0.21
1993           364.73  361.14     357.53  357.16         -0.09   0.20
1994           369.61  362.74     360.40  358.91          0.80   0.49
1995           372.87  365.04     362.45  360.86          0.57   0.54
1996           371.10  366.00     364.30  362.67          0.51   0.50
1997           372.72  368.02     365.25  363.71          0.26   0.29
1998           376.40  370.63     368.04  366.70          0.76   0.82
1999           376.55  372.23     369.75  368.31          0.46   0.44
2000           379.14  373.34     371.22  369.58          0.40   0.34
2001           379.53  375.36     372.99  371.07          0.48   0.40
2002           381.25  376.58     374.54  373.29          0.42   0.60
2003           387.12  380.17     377.90  375.83          0.90   0.68
2004           385.72  381.58     378.68  377.66          0.21   0.49
2005           388.57  383.79     381.40  379.96          0.72   0.61
2006           390.53  385.68     383.63  381.89          0.58   0.51
2007           392.34  387.83     385.29  383.86          0.43   0.52
2008           396.01  390.63     388.12  385.52          0.73   0.43
2009           396.47  391.32     388.50  387.42          0.10   0.49
2010           399.17  394.02     391.21  389.84          0.70   0.62
2011           403.81  395.83     393.28  391.66          0.53   0.47
2012           403.20  397.78     395.55  393.87          0.58   0.57
2013           408.07  400.63     398.31  396.47          0.70   0.66
2014           409.08  402.71     399.83  398.71          0.38   0.57
2015           409.99  404.65     401.91  400.87          0.52   0.54
2016           412.46  409.34     404.94  404.25          0.75   0.84

In [88]:
#Write data to txt file
d3.to_csv(r'/Users/rujutadawhkar/Downloads/output1.txt',sep=' ')